<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ozm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".rocks.OzomeApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_app_launcher"
        android:label="@string/application_name"
        android:theme="@style/Theme.U2020.SplashScreen">
        <activity
            android:name=".rocks.ui.start.LoadingActivity"
            android:label="@string/application_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".rocks.ui.main.MainActivity"
            android:parentActivityName=".rocks.ui.start.LoadingActivity"
            android:label="@string/application_name"
            android:theme="@style/NoAnimationTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".rocks.ui.start.LoadingActivity"/>
        </activity>
        <activity
            android:name=".rocks.ui.categories.OneEmotionActivity"
            android:label="@string/application_name"
            >
        </activity>
        <activity
            android:name=".rocks.ui.gold.GoldActivity"
            android:label="@string/application_name"
            >
        </activity>

        <service
            android:name=".rocks.ui.widget.WidgetService"
            android:label="Ozm Widget Service"
            />

        <receiver android:name=".rocks.ui.widget.WidgetReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabricApiKey}" />
        <meta-data
            android:name="com.bumptech.glide.integration.okhttp.OkHttpGlideModule"
            android:value="GlideModule" />
    </application>

</manifest>
