<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Used for sharing logs. -->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <!-- Used for instrumentation tests. -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Used for telescope. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application>
        <activity
            android:name="com.umad.wat.ui.debug.ProcessPhoenix"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:process=":phoenix" />

        <!--LOCALITICS-->

        <meta-data
            android:name="LOCALYTICS_APP_KEY"
            android:value="empty"/>

    </application>
</manifest>
